[saidap1]
exten => _55X.,1,Wait(1)
exten => _55X.,n,Set(chamado=${CALLERID(name)})
exten => _55X.,n,Set(numero=${EXTEN})
exten => _55X.,n,Background(/data/sounds/alertaP1)
exten => _55X.,n,Wait(1)
exten => _55X.,n,Background(/data/sounds/incidente_numero)
exten => _55X.,n,Saydigits(${chamado:3:10})
exten => _55X.,n,Wait(1)
exten => _55X.,n,Background(/data/sounds/confirma)
exten => _55X.,n,WaitExten(5)
exten => _55X.,n,Background(/data/sounds/confirma)
exten => _55X.,n,WaitExten(5)
exten => _55X.,n,HangUp()

exten => i,1,GoTo(saida,${numero},1)

exten => 1,1,GoTo(confirma,1,1)

[saidap2]
exten => _55X.,1,Wait(1)
exten => _55X.,n,Set(chamado=${CALLERID(name)})
exten => _55X.,n,Set(numero=${EXTEN})
exten => _55X.,n,Background(/data/sounds/alertaP2)
exten => _55X.,n,Wait(1)
exten => _55X.,n,Background(/data/sounds/incidente_numero)
exten => _55X.,n,Saydigits(${chamado:3:10})
exten => _55X.,n,Wait(1)
exten => _55X.,n,Background(/data/sounds/confirma)
exten => _55X.,n,WaitExten(5)
exten => _55X.,n,Background(/data/sounds/confirma)
exten => _55X.,n,WaitExten(5)
exten => _55X.,n,HangUp()

exten => i,1,GoTo(saida,${numero},1)

exten => 1,1,GoTo(confirma,1,1)

[confirma]
exten => 1,1,Wait(1)
exten => 1,n,System(echo "1" > /data/${chamado})
exten => 1,n,Playback(/data/sounds/obrigado)
exten => 1,n,HangUp()